html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgba(0, 0, 0, 0.8);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: url(/darth_vader.gif);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

button {
  margin-top: 77vh;
  margin-right: 4vw;
  cursor: pointer;
  outline: none;
  width: 200px;
  height: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 1);
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 2px 5px 10px 5px rgba(255, 255, 255, 0.5);
  border: none;
  border-radius: 5px;
}

button:hover {
  background: rgba(255, 255, 255, 0.1);
  text-shadow: 2px 2px 3px rgb(0 0 0);
}

button:active {
  transform: scale(0.95);
}

button:disabled {
  cursor: default;
  background: rgba(255, 255, 255, 0.5);
  text-shadow: 2px 2px 3px rgb(0 0 0);
}


@media screen and (max-width: 1000px) {
  .container {
    background-size: cover;
    background-position: center center;
  }

  button {
    box-shadow: 4px 5px 20px 10px rgba(255, 255, 255, 0.5);
  }
}